In [10]:
# importing all the libraries needed for this 
import requests 
import pandas as pd 
import os 
from bs4 import BeautifulSoup as bs
import numpy as np 

from time import sleep
from random import randint
headers = {"Accept-Language": "en-US,en;q=0.5"} # the translations

In [7]:
os.chdir(r'\Users\christopher\Downloads')

In [103]:
page=requests.get('https://www.cheki.co.ke/cars?page=4')
print(page.status_code)

200

In [66]:
soup_cheki=bs(page.text,'html.parser')

In [122]:
for item in cars:
    name=item.find('span',class_='card-header')
#     print(name.text)
    print('----')
    features=item.find(class_='card-features')
    print(features.text)
    print('-------------------------------')
    price=item.find(class_='listing-price')
    print(price.text)

----


Mombasa

Automatic

Black
85323 km


Foreign Used
2013
Petrol

-------------------------------

KSh1,250,000

----


Mombasa

Automatic

Silver
87523 km


Foreign Used
2013
Petrol

-------------------------------

KSh500,000

----


Mombasa

Automatic

Black
95236 km


Foreign Used
2013
Petrol

-------------------------------

KSh1,500,000

----


Mombasa

Manual

Pearl
102536 km


Foreign Used
2013
Petrol

-------------------------------

KSh1,100,000

----


Mombasa

Automatic

Red
57236 km


Foreign Used
2014
Petrol

-------------------------------

KSh1,200,000

----


Mombasa

Automatic

Maroon
82536 km


Foreign Used
2013
Petrol

-------------------------------

KSh880,000

----


Mombasa

Automatic

Grey
98752 km


Foreign Used
2013
Petrol

-------------------------------

KSh1,600,000

----


Mombasa

Automatic

Black
123564 km


Locally Used
2008
Petrol

-------------------------------

KSh3,000,000

----


Mombasa

Automatic

Silver
75236 km


Foreign Used
2013
Petrol

-------------------------------

KSh1,600,000

----


Mombasa

Automatic

Pearl
98523 km


Foreign Used
2013
Petrol

-------------------------------

KSh2,400,000

----


Mombasa

Automatic

Black
65235 km


Foreign Used
2013
Petrol

-------------------------------

KSh1,750,000

----


Mombasa

Automatic

Pearl
85236 km


Foreign Used
2013
Diesel

-------------------------------

KSh2,500,000

----


Mombasa

Automatic

Gold
96321 km


Foreign Used
2013
Petrol

-------------------------------

KSh1,200,000

----


Mombasa

Automatic

Black
46325 km


Foreign Used
2014
Petrol

-------------------------------

KSh3,600,000

----


Mombasa

Automatic

Grey
86523 km


Foreign Used
2013
Petrol

-------------------------------

KSh1,600,000

----


Mombasa

Automatic

Maroon
79652 km


Foreign Used
2013
Petrol

-------------------------------

KSh1,100,000

----


Mombasa

Automatic

Black
95234 km


Foreign Used
2013
Petrol

-------------------------------

KSh1,900,000

----


Mombasa

Automatic

Black
91235 km


Foreign Used
2013
Petrol

-------------------------------

KSh1,200,000

----


Mombasa

Automatic

Maroon
85236 km


Foreign Used
2013
Petrol

-------------------------------

KSh680,000

----


Mombasa

Automatic

Black
95234 km


Foreign Used
2013
Petrol

-------------------------------

KSh2,000,000

In [144]:
names=[]
prices=[]
ratings=[]
car_details=[]

In [145]:
for item in cars:
    car_name=item.find(class_='card-header')
    names.append(car_name.text)
    price=item.find(class_='listing-price')
    prices.append(price.text)
    details=item.find(class_='card-features')
    car_details.append(details.text)

In [147]:
len(car_details)

20

In [148]:
cheki=pd.DataFrame({'make':names,
                   'price':prices,
                   'details':car_details})

In [149]:
cheki.head()

,make,price,details
0,\n\n2013\nToyota Fielder\n\n\n\n\n5\n(8\nRevie...,"\nKSh1,250,000\n",\n\nMombasa\n\nAutomatic\n\nBlack\n85323 km\n\...
1,\n\n2013\nSuzuki Alto\n\n\n\n\n5\n(3\nReviews)...,"\nKSh500,000\n",\n\nMombasa\n\nAutomatic\n\nSilver\n87523 km\n...
2,\n\n2013\nNissan Dualis\n\n\n\n\n5\n(1\nReview...,"\nKSh1,500,000\n",\n\nMombasa\n\nAutomatic\n\nBlack\n95236 km\n\...
3,\n\n2013\nMazda Bongo\n\n,"\nKSh1,100,000\n",\n\nMombasa\n\nManual\n\nPearl\n102536 km\n\n\...
4,\n\n2014\nToyota Auris 1.4 VVT-i\n\n\n\n\n5\n(...,"\nKSh1,200,000\n",\n\nMombasa\n\nAutomatic\n\nRed\n57236 km\n\n\...

# scrapping multiple pages

#### controlling the  crawl rate why is this important 
>*Controlling the crawl rate is beneficial for the scraper and for the website we’re scraping. If we avoid hammering the server with a lot of requests all at once, then we’re much less likely to get our IP address banned — and we also avoid disrupting the activity of the website we scrape by allowing the server to respond to other user requests as well*

In [172]:
### we need to be changing the url parameters 
pages=np.arange(1,451,1)# 
pages[2:19]

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [173]:
# just to see how the pages would look like 
for page in pages[1:10]:
    page="https://www.cheki.co.ke/cars?page=" + str(page)
    print(page)

https://www.cheki.co.ke/cars?page=2
https://www.cheki.co.ke/cars?page=3
https://www.cheki.co.ke/cars?page=4
https://www.cheki.co.ke/cars?page=5
https://www.cheki.co.ke/cars?page=6
https://www.cheki.co.ke/cars?page=7
https://www.cheki.co.ke/cars?page=8
https://www.cheki.co.ke/cars?page=9
https://www.cheki.co.ke/cars?page=10

In [153]:
names=[]
prices=[]
ratings=[]
car_details=[]
for page in pages: 
    page=requests.get("https://www.cheki.co.ke/cars?page=" + str(page))
    soup_cheki=bs(page.text,'html.parser')
    cars=soup_cheki.find_all(class_="right-card-part-container")
    sleep(randint(2,10))# this is to delay the eexecution for a certain number of random seconds 
    for item in cars:
        car_name=item.find(class_='card-header')
        names.append(car_name.text)
        price=item.find(class_='listing-price')
        prices.append(price.text)
        details=item.find(class_='card-features')
        car_details.append(details.text)

In [155]:
cheki=pd.DataFrame({'make':names,
                   'price':prices,
                   'details':car_details})
cheki.tail()

,make,price,details
195,\n\n2010\nVolkswagen Tiguan 2.0 TSI\n\n\n\n\n4...,"\nKSh1,850,000\n",\n\nNairobi\n\nAutomatic\n\nWhite\n110000 km\n...
196,\n\n2012\nHonda CR-V 2.4 LX 4x4 Automatic\n\n\...,"\nKSh2,150,000\n",\n\nNairobi\n\nAutomatic\n\nWhite\n110715 km\n...
197,\n\n2012\nVolkswagen Passat\n\n\n\n\n3\n(1\nRe...,"\nKSh1,540,000\n",\n\nNairobi\n\nAutomatic\n\nSilver\n43000 km\n...
198,\n\n2009\nVolkswagen Golf 1.4 Tsi\n\n\n\n\n4\n...,"\nKSh600,000\n",\n\nNairobi\n\nManual\n\nGrey\n139000 km\n\n\n...
199,\n\n2006\nNissan X-Trail 2.5 SE 4x4 Automatic\...,"\nKSh850,000\n",\n\nNairobi\n\nAutomatic\n\nSilver\n150000 km\...

In [213]:
# some little cleaning
cheki['make']=cheki['make'].map(lambda x: x.replace("\n"," "))
cheki['details']=cheki['details'].map(lambda x: x.replace("\n"," "))
cheki['price']=cheki['price'].map(lambda x: x.replace("\n"," "))
cheki.head()

,make,price,details
0,2013 Toyota Mark X 5 (6 Reviews),"KSh1,700,000",Mombasa Automatic Pearl 85236 km Foreign...
1,2013 Mitsubishi Outlander 2.4 4 (2 Revie...,"KSh2,300,000",Mombasa Automatic Silver 1 km Foreign Us...
2,2013 Volkswagen Golf 1.4 Tsi 4 (3 Review...,"KSh1,200,000",Mombasa Automatic Grey 144434 km Foreign...
3,2013 Mazda CX-5 2WD 4 (1 Review),"KSh1,940,000",Nairobi Automatic Black 130000 km Foreig...
4,2014 Honda CR-V 2.4 EX 4x4 Automatic 5 (...,"KSh2,725,000",Nairobi Automatic Grey 104000 km Foreign...

In [181]:
help(sleep)

Help on built-in function sleep in module time:

sleep(...)
    sleep(seconds)

    Delay execution for a given number of seconds.  The argument may be
    a floating point number for subsecond precision.

In [212]:
sleep(randint(1,4)*0.6)